body{
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgb(0,0,0,0.1);
} 
.container .left-side{
    position: relative;
    background: #003147;
    padding: 40px;
}
.profileText .img{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.profileText{
    color: #fff;
    font-size: 1.5em;
    margin-top: 0px;
    text-transform: uppercase;
    text-align: justify;
    font-weight: 600;
    line-height: 1.4em;
}
.profileText h2 span{
    font-size: 0.8em;
    font-weight: 300;
}
.contactInfo{
    padding-top: 0px;
}
.title{
    color:#fff;
    text-transform:uppercase;
    font-weight:600; 
    letter-spacing: 1px;
    margin-bottom: 20px;
    margin: 0%;
}
.contactInfo ul{
    position: relative;
}
.contactInfo ul li{
    mask-position: right;
    margin: 10px 0;
    cursor: pointer;
    list-style: none;
    font-weight: bolder;
}
.contactInfo ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: rgb(50, 141, 202);
}
.contactInfo ul li span{
    color:#fff;
}
.contactInfo.education li{
margin-bottom: 15px;
}
.contactInfo.education h5{
    color: #03a9f4;
    font-size: large;
    margin: 0.5%;
}
.contactInfo.contactInfo.education h4{
    color: #fff;
    font: weight 500px; ;
}
.contactInfo.contactInfo.education h4{
    color: #fff;
    font: weight 300;
   margin: 0.5%; 
}
.contactInfo.language .percent{
    position: relative;
    width: 100%;
    height: 6px;
    background-color: rgb(6, 5, 5);
    display: block;
    margin-top: 5px;

}
.contactInfo.language .percent div{
    position: absolute;
    top:0%;
    left: 0;
    height: 100%;
    background-color: #03a9f4;
}
.container .right-side{
    position: relative;
    background: #fff;
    padding: 40px;
}
/* .about{
    margin-bottom: 50px;
} */
.about:last-child{
    margin-bottom: 0;
}
.title2{
    color: #003147;
    font-family: Georgia, serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p{
    color: #000000;
}
.about .box{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}
.about .box .year{
   min-width: 150px;
}
.about .box .year h5{
    text-transform: uppercase;
    color: #383b3d;
    font-weight: 600;
}
.about .box .text h4{
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 16px;
}
.about-skill .box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}
.about-skill .box h4{
    text-transform: uppercase;
    color: #848c99;
    font-weight: 600;
}
.about-skill .box .percent{
    position: relative;
    width: 100%;
    height: 10px;
    background: rgb(205, 201, 201);
}
.about-skill .box .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgb(110, 181, 229);
}
